@media only screen and (min-width: 480px) and (max-width: 991px) {
    .gallery-page {
        padding: 60px 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .gallery-page .all-images .grid-item {
        width: calc(100% / 1.5);
    }
    .gallery-page .all-images .grid-item.grid-item-4 {
        margin: 0 0;
        width: calc(100% / 3);
    }
    .gallery-page .all-images .grid-item {
        margin: 0!important;
        width: calc(100% / 1.5);
        border: 1px solid rgba(45, 123, 255, 0.4);
    }
    .gallery-page .all-images .grid-item--height2.ml-30 {
        width: calc(100% / 3);
    }
    .gallery-page .all-images .grid-item--width2.mr-30 {
        width: calc(100% / 1.5);
    }
    .gallery-page .all-images .grid-item--height2.mr-30 {
        width: calc(100% / 3);
    }
    .gallery-page .all-images .grid-item--width2.ml-30 {
        width: calc(100% / 1.5);
    }
    .divide-box-menu li button {
        width: 140px!important;
    }
    .gallery-page {
        padding: 60px 0;
    }
}